.text-white,   a.text-white:hover   { color: #fff;    }
.text-mouryou, a.text-mouryou:hover { color: #00adb5; }

.border-mouryou { border: 1px solid #00adb5 !important; }

.bg-default       { background: #818a91; }
.bg-white         { background: #fff;    }
.bg-mouryou       { background: #00adb5; }
.bg-booting-up    { background: #b3d315; }
.bg-shutting-down { background: #f9a200; }

.bg-mouryou       * { color: #fff !important; }
.bg-booting-up    * { color: #fff !important; }
.bg-booting-up    * { color: #fff !important; }
.bg-shutting-down * { color: #fff !important; }

.m-a-05 { margin:        .5rem !important; }
.m-t-05 { margin-top:    .5rem !important; }
.m-r-05 { margin-right:  .5rem !important; }
.m-b-05 { margin-bottom: .5rem !important; }
.m-l-05 { margin-left:   .5rem !important; }
.m-x-05 { margin-right:  .5rem !important; margin-left:   .5rem !important; }
.m-y-05 { margin-top:    .5rem !important; margin-bottom: .5rem !important; }

.p-a-05 { padding:        .5rem !important; }
.p-t-05 { padding-top:    .5rem !important; }
.p-r-05 { padding-right:  .5rem !important; }
.p-b-05 { padding-bottom: .5rem !important; }
.p-l-05 { padding-left:   .5rem !important; }
.p-x-05 { padding-right:  .5rem !important; padding-left:   .5rem !important; }
.p-y-05 { padding-top:    .5rem !important; padding-bottom: .5rem !important; }

@media (min-width: 62em) {
  .container {
    max-width: 60rem;
  }
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/exo2-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/exo2-bold.ttf') format('truetype');
}

body {
  font-family: 'Exo 2';
  font-weight: 400;
  color: #393e46;
  padding-top: 54px;
}

.bold {
  font-weight: 700;
}

input[type='text']
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  font-family: 'Exo 2';
  font-weight: 400;
}

a.link-muted,
a.link-muted:hover {
  color: #818a91;
  text-decoration: none;
}

a.link-mouryou,
a.link-mouryou:hover {
  color: #00adb5;
  text-decoration: underline;
}

.chart {
  border: 1px solid #eceeef;
  border-radius: .3rem;
}

.chart text {
  font-family: 'Exo 2';
  font-weight: 400 !important;
}

.list-group-item {
  border: 1px solid #eceeef;
}

.list-group-item:first-child {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.list-group-item:last-child {
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.list-group-item:nth-child(2) {
  border-top: none;
}
